In [1]:
%matplotlib inline
import os
import sys
sys.path.append('../')

import numpy as np
import matplotlib.pyplot as plt
import torch
from hydra import compose, initialize
from omegaconf import OmegaConf

from datasets.imagenet import get_imagenet_dataset
import glob
import yaml
import pandas as pd

In [22]:
def get_df(jpeg=5):
    df = []
    for line in glob.glob(f'/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg{jpeg}/*.yaml'):
        print(line)
        with open(line, 'r') as f:
            d = yaml.safe_load(f)
            l = line.split('/')[-1][:-5].split('_')
            eta = float(l[0])
            if '-' in l[1]:
                num_steps = float(l[1].split('-')[0])
                seed = float(l[1].split('-')[1])
            else:
                num_steps = float(l[1])
                seed = 0
            # start_step = float(l[2])
            d['eta'] = eta
            d['num_steps'] = num_steps
            d['seed'] = seed

            if num_steps == 200:
                continue
            # d['start_step'] = start_step
            df.append(d)
    df = pd.DataFrame(df)
    df.sort_values(by=['num_steps', 'eta']).to_clipboard(sep='\t', index=False)
    return df

In [28]:
def get_df_sr4(cc=False):
    df = []
    cc = '_cc' if cc else ''
    for line in glob.glob(f'/workspace/jiamings/exps/ddrmpp/results/imagenet256{cc}/ddrmpp_awd/sr4/*.yaml'):
        print(line)
        with open(line, 'r') as f:
            d = yaml.safe_load(f)
            l = line.split('/')[-1][:-5].split('_')
            eta = float(l[0])
            if '-' in l[1]:
                num_steps = float(l[1].split('-')[0])
                seed = float(l[1].split('-')[1])
            else:
                num_steps = float(l[1])
                seed = 0
            # start_step = float(l[2])
            d['eta'] = eta
            d['num_steps'] = num_steps
            d['seed'] = seed
            if 'dgp' in l:
                continue
            if num_steps == 200:
                continue
            # d['start_step'] = start_step
            df.append(d)
    df = pd.DataFrame(df)
    df.sort_values(by=['num_steps', 'eta']).to_clipboard(sep='\t', index=False)
    return df

In [29]:
get_df_sr4()

/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.0_100_500.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/1.0_100_500_dgp.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.5_50_500.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.0_50_500_dgp.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.0_100_500_dgp.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/1.0_50_500_dgp.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.5_20_500.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/1.0_20_500_dgp.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.5_100_500_dgp.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.5_100_500.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.0_50_500.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/1.0_20_500.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.0_20_500_dgp.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/1.0_100_500.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.5_20_500_dgp.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.0_20_500.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/1.0_50_500.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.5_50_500_dgp.yaml

     Total    Top1    Top5        FID  eta  num_steps  seed       PSNR
0  50000.0  69.166  88.702   4.326663  0.0      100.0     0        NaN
1  50000.0  71.450  90.294   4.451291  0.5       50.0     0        NaN
2  50000.0  69.998  89.548   7.176337  0.5       20.0     0        NaN
3  50000.0  70.618  89.616   3.769155  0.5      100.0     0        NaN
4  50000.0  70.310  89.654   4.422043  0.0       50.0     0        NaN
5  50000.0  68.284  88.480  10.856696  1.0       20.0     0        NaN
6  50000.0  72.292  90.910   3.890995  1.0      100.0     0        NaN
7  50000.0  70.000  89.386   6.445589  0.0       20.0     0  24.528708
8  50000.0  71.324  90.418   6.135703  1.0       50.0     0        NaN

In [33]:
df = get_df_sr4(False)

x = [20, 50, 100]
y1 = [df[df['num_steps'] == xx]['FID'].min() for xx in x]
y2 = [df[df['num_steps'] == xx]['Top1'].max() for xx in x]
print(y1)
print(y2)

/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.0_100_500.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/1.0_100_500_dgp.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.5_50_500.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.0_50_500_dgp.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.0_100_500_dgp.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/1.0_50_500_dgp.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.5_20_500.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/1.0_20_500_dgp.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.5_100_500_dgp.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.5_100_500.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.0_50_500.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/1.0_20_500.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.0_20_500_dgp.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/1.0_100_500.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.5_20_500_dgp.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.0_20_500.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/1.0_50_500.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/sr4/0.5_50_500_dgp.yaml
[6.445589426043341, 4.422042640773668, 3.7691549128352904]
[70.0, 71.45, 72.292]

In [41]:
df = []
for line in glob.glob('/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg10/*.yaml'):
    print(line)
    with open(line, 'r') as f:
        d = yaml.safe_load(f)
        l = line.split('/')[-1][:-5].split('_')
        eta = float(l[0])
        num_steps = float(l[1])
        # start_step = float(l[2])
        d['eta'] = eta
        d['num_steps'] = num_steps
        # d['start_step'] = start_step
        df.append(d)
        
df = pd.DataFrame(df)
df.sort_values(by=['num_steps', 'eta']).to_clipboard(sep='\t', index=False)

/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg10/0.0_100.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg10/1.0_100.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg10/0.5_20.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg10/0.2_100.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg10/1.0_50.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg10/0.5_50.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg10/0.0_50.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg10/0.0_20.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg10/0.5_100.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg10/0.2_20.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg10/0.2_50.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg10/1.0_20.yaml

In [32]:
df

         FID  eta  num_steps  seed    Total    Top1    Top5
0   3.938746  0.5       50.0     0      NaN     NaN     NaN
1   6.465167  0.5       20.0     0  50000.0  73.848  91.712
2   3.803281  0.0       50.0     0      NaN     NaN     NaN
3  10.118615  1.0       20.0     0  50000.0  71.236  90.414
4   5.630971  0.0       20.0     0  50000.0  73.850  91.772
5   5.616085  1.0       50.0     0      NaN     NaN     NaN

In [ ]:
df = []
for line in glob.glob('/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg20/*.yaml'):
    print(line)
    with open(line, 'r') as f:
        d = yaml.safe_load(f)
        l = line.split('/')[-1][:-5].split('_')
        eta = float(l[0])
        num_steps = float(l[1])
        # start_step = float(l[2])
        d['eta'] = eta
        d['num_steps'] = num_steps
        # d['start_step'] = start_step
        df.append(d)
        
df = pd.DataFrame(df)
df.sort_values(by=['num_steps', 'eta']).to_clipboard(sep='\t', index=False)

/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg20/0.0_100.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg20/1.0_100.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg20/0.5_20.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg20/0.2_100.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg20/1.0_50.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg20/0.5_50.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg20/0.0_50.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg20/0.0_20.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg20/0.5_100.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg20/0.2_20.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg20/0.2_50.yaml
/workspace/jiamings/exps/ddrmpp/results/imagenet256/ddrmpp_awd/jpeg20/1.0_20.yaml

In [39]:
df.to_clipboard(sep='\t', index=False)